# Игнорируем файлы virtualenv
*.pyc
__pycache__

# Игнорируем build файлы
*.log
*.swp
*.bak
*.tmp

# Игнорируем среду исполнения
venv/
env/

# Игнорируем файл с переменными окружения
.env

# Игнорируем статику и медиа
media/*
static/*

# Игнорируем временные файлы Django
db.sqlite3*

# Другие возможные исключения
.idea/
.DS_Store
Thumbs.db
